.timer {
  font-size: 2rem;
  transition: color 1s ease;
}

.timer.less-than-30 {
  color: orange;
}

.timer.less-than-20 {
  color: red;
}

@keyframes impact {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.timer.impact {
  color: red;
  animation: impact 1s infinite;
}

.quit-button {
  align-self: flex-start;
  margin: 20px;
  background-color: #ff4c4c;
  border: none;
  border-radius: 12px;
  padding: 10px 20px;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.quit-button:hover {
  background-color: #ff1a1a;
}

.theme {
  font-size: 2rem;
  margin-bottom: 20px;
}

.current-player {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.confidence-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.confidence-label {
  font-size: 1.2rem;
}

.confidence-value {
  font-size: 2rem;
  margin: 10px 0;
}

.confidence-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.confidence-button {
  background-color: transparent;
  color: black;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

.confidence-button:hover {
  color: #800080;
  background-color: transparent;
}

.confidence-button:focus {
  outline: none;
}

.validate-button {
  background-color: #800080;
  border: none;
  border-radius: 12px;
  padding: 10px 20px;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.validate-button:hover {
  background-color: #4b0082;
}

.scoreboard {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #800080;
  color: white;
  padding: 10px;
  border-radius: 12px;
  text-align: center;
}
