.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-page {
    background-color: #e0dfd6;
    height: 100vh;
}

.logo {
    max-width: 400px;
  }